<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Total deaths from Covid 19</title>
</head>

<body>
  <header>
    <h1>Covid cases</h1>
    <h2>Total <em>recovered</em> cases from Covid 19 :</h2>

    <!-- Nombre de guérisons actualisé en fonction de l'api -->
    <h3>
      <%= CovidCounter.total_recovered %>
    </h3>
      <p>from January 10th to today in below countries :</p>
      <ul>
        <li>France</li>
        <li>Italy</li>
        <li>World</li>
      </ul>

      <p><a href="/"><- Page 1</a></p>
    </header>
  
  <footer>
    <p>Data found on <a href="https://api.covid19api.com/world/total">Covid 19 Api</a></p>
    <p>Take care !</p>
  </footer>
    
</body>
</html>

